@use '../abstracts' as *;
// html {    
//     scrollbar-gutter: stable;
//     scrollbar-width: thin;
//     scrollbar-color: #898989 #ececec;   
// }
html, body {
    &::-webkit-scrollbar{
        width: 6px;
        height: 6px;
        background-color: #ececec;
        appearance: none;
    }
    &::-webkit-scrollbar-thumb {
        background-color:#898989;
        border-radius: 4px;
    }
    &::-webkit-scrollbar-track {
        background-color: #ececec;
    }
}

.scroll-area{
    overflow: hidden;
    overflow-y: auto;;
    &::-webkit-scrollbar{
        width: 6px;
        height: 6px;
        background-color: #ececec;
        appearance: none;
    }
    &::-webkit-scrollbar-thumb {
        background-color:#898989;
        border-radius: 4px;
    }
    &::-webkit-scrollbar-track {
        background-color: #ececec;
    }
}

.h-screen {
  @include vh(height);
}

.min-h-screen {
  @include vh(min-height);
}

.h-screen-80 {
  @include vh(height, 80);
}

.not-scroll {  
    overflow: hidden;
    width: 100%;
    height: 100vh;   
    body {       
        position: fixed;
        width: 100%;
    } 
}

body {
    font-family: 'SUIT', system-ui, -apple-system, 'Segoe UI', Roboto, 'Noto Sans KR','Apple SD Gothic Neo', Arial, sans-serif;
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 1.5;
}
/**/
#wrap {
    width:100%;
    max-width:2560px;
    margin:0 auto;
}
.static {
    max-width: 132.8rem;
    width:100%;
    margin:0 auto;
    padding-left:clamp(1.6rem, 1.88vw, 2.4rem);
    padding-right:clamp(1.6rem, 1.88vw, 2.4rem);   
}

.pc-only {
    @include respond(mobile) {
        display: none;
    }
}
.mo-only {
    display: none;
    @include respond(mobile) {
        display: block;
    }
}
.ph-only {
    display: none;
    @include respond(phone) {
        display: block;
    }
}
.not-scroll {  
    overflow: hidden;
    width: 100%;
    height: 100vh;   
    body {       
        position: fixed;
        width: 100%;
    } 
}

#wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

#container {
    flex:1;    
    position: relative;
    padding-top:10rem;
    display: flex;
    justify-content: center;
    background: #efefef;
    .contents {
        width: 100%;
    }
}
footer {
    height:10rem;
    background: #222;
    margin-top:auto;
}

.wide {
    width: 100%;
    height: 50rem;
    background: lime; 
}

@include respond(tablet) {
    header {
        height: 8rem;
    }
    #container {
        padding-top: 8rem
    }
}
@include respond(mobile) {
    header {
        height: 6rem;
    }
    #container {
        padding-top: 6rem
    }
}