@mixin ir {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 텍스트 말줄임 (N줄)
@mixin ellipsis-multi($lines: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
// 테마별 CSS 변수를 생성하는 믹스인
@mixin generate-theme-variables($theme-map) {
    @each $name, $value in $theme-map {
        --color-#{$name}: #{$value};
    }
}