@use "sass:string";
@use "sass:list";
@use "sass:map";


@function str-replace($string, $search, $replace: '') {
  $index: string.index($string, $search);
  
  @if $index {
    @return string.slice($string, 1, $index - 1) + $replace + str-replace(string.slice($string, $index + string.length($search)), $search, $replace);
  }
  
  @return $string;
}

@function svg-encode($svg) {
  $encoded: $svg;
  $encoded: str-replace($encoded, '<', '%3C');
  $encoded: str-replace($encoded, '>', '%3E');
  $encoded: str-replace($encoded, '"', "'");
  $encoded: str-replace($encoded, '#', '%23');
  @return 'data:image/svg+xml,' + $encoded;
}