$url-fonts:'../fonts/';
$url-imgs : '../images/';

$black:#000;
$white:#fff;
$gray22:#222;
$gray33:#333;
$gray44:#444;
$gray55:#555;
$gray66:#666;
$gray77:#777;
$gray88:#888;
$gray99:#999;
$graycc:#ccc;
$graydd:#ddd;
$grayde:#dedede;
$grayda:#dadada;
$grayd9:#d9d9d9;
$grayef:#efefef;
$grayf0:#f0f0f0;
$grayf3:#f3f3f3;
$grayf4:#f4f4f4;
$grayf6:#f6f6f6;
$grayf8:#f8f8f8;  

$primary-color: #222; 
$sub-color:#666;
$accent-color: #0072C6; 
$accent-light:#67b0e6;
$accent-bg:#EAF5FD;
$bg-light:#F0EDE7;
$fill-hover :#0060A7;
$dark-color:#000000; // 다크 색상
$light-color:#dadada; // 연한 회색
$red-color:#EA002C;
$focus-outline:#0066cc;
$border-color:#dfdfdf;