@use '../abstracts' as *;

$border-color : #dfdfdf;
.full {
    width: 100%;}


.checkForm{    
    display: inline-block;
    input {
        position: absolute;            
        width: 2.6rem;
        height: 2.6rem;
        appearance: none;
    }
    label {
        padding-left: 3.4rem;
        position: relative;
        line-height: 2.6rem;
        cursor: pointer;
        font-size: 1.6rem;
        &::before {
            content: '';
            display: inline-block;
            width: 2.6rem;
            height: 2.6rem;
            border: 1px solid $border-color;
            position: absolute;
            top: 0;
            left: 0;
            box-sizing: border-box;
        }
        &::after {
            content: '';
            display: block;
        }
    }
    input[type="radio"] + label::before{
        border-radius: 50%;
    }
    input[type="radio"]:checked + label::before{
        border:1px solid #222
    }
    input[type="radio"]:checked + label::after{            
        border-radius: 50%;
        width: 1em;
        height: 1em;
        background: #222;
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
    }
    input[type="checkbox"]:checked + label::before{
        border: 1px solid #222;
        background: #222;
    }
    input[type="checkbox"]:checked + label::after{
        width: 1.4rem;
        height: 0.8rem;
        border-top: 0;
        border-right: 0;
        border-bottom: 0.2rem solid #fff;
        border-left: 0.2rem solid #fff; 
        position: absolute;
        left: 0.6rem;
        top: 0.7rem;
        transform: rotate(-45deg)
    }
}

.input {
    border-radius: 0.5rem;;
    border: 1px solid $border-color;
    height: 5rem;
    padding: 1rem;
}

textarea {
    border: 1px solid $border-color;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 100%;
}
select {
    height: 5rem;
    padding: 1rem 3rem 1rem 1rem;    
    border: 1px solid $border-color;
    border-radius: 0.5rem;
    background: url(#{$url-imgs}ico-select-arr.svg) no-repeat right 1rem center;
}
.form-field {
    .form-row {
        display: flex;    
        border-bottom: 1px solid $border-color;
        padding: 1rem 0;
    }
    .form-tit {
        width: 20%;
        padding-top:1.5rem;
        text-align: center;
    }
    .form-col {
        flex: 1;
    }

    @include respond(phone) {
        .form-row {
            flex-direction: column; 
        }
        .form-tit {
            width: 100%;
            text-align: left;
            padding: 0;
            margin:  1rem 0;
        }
    }
}
.form-phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(0.5rem, 0.49vw,1rem);
    .bar {
        width: 1%;
        display: inline-flex;
        text-align: center;
        height: 2px;
        background: #666;
        font-size: 0;
    }
    select,
    input {
        width: 31%;
    }
    select {
        text-align: center;
    }
}
.form-attachment {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(0.5rem, 0.49vw,1rem);
    .file-open-btn {
        border: 1px solid $border-color;
        border-radius: 0.5rem;
        height: 5rem;
        padding: 1rem 2rem;
        white-space: nowrap;
    }
    .file-name-input {
        flex: 1;
    }
    .file-delete-btn {
        position: absolute;
        top: 50%;
        right: 15.5rem;
        transform: translateY(-50%);
        border:1px solid $border-color
    }
    .real-file-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
    }
}
.form-email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(0.5rem, 0.49vw,1rem);
    input {
        width: 30%;
    }
    select {
        width: 35%;
    }
}
.form-email-new {
    .input {
        width: 100%;
    }    
}
.form-address {
    &-zip{
        display: flex;        
        gap: 1rem;
        .input {
            width: 16rem;
            text-align: center;
        }
    }
    &-addr{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
    }
}


.custom-select {
    position: relative;
    flex: 1;
}

.custom-select select {
    width: 100%;
    padding: 12px 40px 12px 16px;
    font-size: 14px;
    color: var(--text-base);
    border-radius: 1rem;
    border: 1px solid #dfdfdf;
    background: var(--surface-base);
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    transition: all 0.3s ease;
}

.custom-select::after {
    content: "";
    position: absolute;
    right: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
    background: url(../images/select-arr.svg) no-repeat 50% 50%;
    width: 1.4rem;
    height: 1.4rem
}

.dropdown {
    position: relative;
    width: 100%;
}

.dropdown-button {
    width: 100%;
    padding: 12px 40px 12px 16px;
    font-size: 14px;
    color: var(--text-base);
    border-radius: 1rem;
    border: 1px solid #dfdfdf;
    background: #fff;
    cursor: pointer;
    text-align: left;
    outline: none;
    transition: all 0.3s ease;
    position: relative;
}



.dropdown-button::after {
    content: "";
    position: absolute;
    right: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
    background: url(../images/select-arr.svg) no-repeat 50% 50%;
    width: 1.4rem;
    height: 1.4rem
}

.is-open .dropdown-button {
    border: 1px solid #222;
}
.is-open .dropdown-button::after {
    transform: translateY(-50%) rotate(180deg);
}

.dropdown-list {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #dfdfdf;
    background: #fff;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    z-index: 10;
}

.is-open .dropdown-list {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-item {
    padding: 1rem 1.2rem;
    font: var(--body-medium-m-15);
    color: var(--text-base);
    cursor: pointer;
    transition: background-color 0.2s ease;
}
