$icon-path: '../images/icons';

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
  &--search {
    background-image: url('#{$icon-path}/search.svg');
  }
  
  &--menu {
    background-image: url('#{$icon-path}/menu.svg');
  }
  
  &--close {
    background-image: url('#{$icon-path}/close.svg');
  }
}

