.loading-splash {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  position: fixed;
  background: #fff;
  z-index: 99990;
}
#container{
    width: 100%;
}
#contents{
    width: 100%;
}

.list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem), 1fr));
    grid-gap: 1rem;
    li {
        border:1px solid lime;       
        height:25rem;
    }
}