html {
  font-size: 62.5%;
}
html body {
  font-size: 1.6rem;
}
@media (max-width: 1023px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 390px) {
  html {
    font-size: 2.31vw;
  }
}

/* Thin 100 */
@font-face {
  font-family: "SUIT";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("SUIT Thin"), url("../fonts/SUIT-Thin.woff2") format("woff2");
}
/* ExtraLight 200 */
@font-face {
  font-family: "SUIT";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("SUIT ExtraLight"), url("../fonts/SUIT-ExtraLight.woff2") format("woff2");
}
/* Light 300 */
@font-face {
  font-family: "SUIT";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("SUIT Light"), url("../fonts/SUIT-Light.woff2") format("woff2");
}
/* Regular 400 */
@font-face {
  font-family: "SUIT";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("SUIT Regular"), url("../fonts/SUIT-Regular.woff2") format("woff2");
}
/* Medium 500 */
@font-face {
  font-family: "SUIT";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("SUIT Medium"), url("../fonts/SUIT-Medium.woff2") format("woff2");
}
/* SemiBold 600 */
@font-face {
  font-family: "SUIT";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("SUIT SemiBold"), url("../fonts/SUIT-SemiBold.woff2") format("woff2");
}
/* Bold 700 */
@font-face {
  font-family: "SUIT";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("SUIT Bold"), url("../fonts/SUIT-Bold.woff2") format("woff2");
}
/* ExtraBold 800 */
@font-face {
  font-family: "SUIT";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("SUIT ExtraBold"), url("../fonts/SUIT-ExtraBold.woff2") format("woff2");
}
/* Heavy/Black 900 */
@font-face {
  font-family: "SUIT";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("SUIT Heavy"), url("../fonts/SUIT-Heavy.woff2") format("woff2");
}
/*Montserrat*/
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
}
/*base/_reset.scss */
:root {
  --vh: calc(100vh / 100);
}

html, body {
  position: relative;
  width: 100%;
  min-height: calc(var(--vh) * 100);
  word-break: keep-all;
  word-wrap: break-word;
  scroll-behavior: smooth;
}

html {
  overflow: hidden;
  overflow-y: scroll;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before,
q::after {
  content: "";
}

a {
  text-decoration: none;
  color: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: normal;
  margin: 0;
  padding: 0;
  appearance: none;
  border-radius: none;
  text-transform: none;
  box-shadow: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  appearance: button;
  cursor: pointer;
  border: 0;
  background: transparent;
}

[disabled] {
  pointer-events: none;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
  color: inherit;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
}

th, td {
  vertical-align: middle;
  font-weight: normal;
}

code,
kbd,
pre,
samp {
  font-family: monospace;
}

small sub,
sup {
  font-size: 0.6em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.5rem;
}

sup {
  top: -0.5em;
}

legend {
  max-width: 100%;
  width: 100%;
  color: inherit;
  white-space: normal;
  display: block;
  border: 0;
}

fieldset {
  min-width: 0;
}

summary {
  display: list-item;
}

address {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: normal;
}

strong,
em {
  color: inherit;
  font-weight: normal;
  font-style: normal;
}

strong {
  font-weight: 700;
}

/*base/_a11y.scss */
#accessibility {
  position: relative;
  margin: 0;
  padding: 0;
}

#accessibility a {
  display: block;
  height: 1px;
  width: 1px;
  margin-bottom: -1px;
  overflow: hidden;
  text-align: center;
  color: #000;
  white-space: nowrap;
}
#accessibility a:focus, #accessibility a:active {
  position: absolute;
  height: auto;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
  background: #fff;
  z-index: 9999;
}

caption,
.hidden,
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #ececec;
  appearance: none;
}
html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  background-color: #898989;
  border-radius: 4px;
}
html::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
  background-color: #ececec;
}

.scroll-area {
  overflow: hidden;
  overflow-y: auto;
}
.scroll-area::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #ececec;
  appearance: none;
}
.scroll-area::-webkit-scrollbar-thumb {
  background-color: #898989;
  border-radius: 4px;
}
.scroll-area::-webkit-scrollbar-track {
  background-color: #ececec;
}

.not-scroll {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.not-scroll body {
  position: fixed;
  width: 100%;
}

body {
  font-family: "SUIT", system-ui, -apple-system, "Segoe UI", Roboto, "Noto Sans KR", "Apple SD Gothic Neo", Arial, sans-serif;
  font-weight: 400;
  letter-spacing: -0.03em;
  line-height: 1.5;
}

/**/
#wrap {
  width: 100%;
  max-width: 2560px;
  margin: 0 auto;
}

.static {
  max-width: 132.8rem;
  width: 100%;
  margin: 0 auto;
  padding-left: clamp(1.6rem, 1.88vw, 2.4rem);
  padding-right: clamp(1.6rem, 1.88vw, 2.4rem);
}

@media (max-width: 768px) {
  .pc-only {
    display: none;
  }
}

.mo-only {
  display: none;
}
@media (max-width: 768px) {
  .mo-only {
    display: block;
  }
}

.ph-only {
  display: none;
}
@media (max-width: 640px) {
  .ph-only {
    display: block;
  }
}

.not-scroll {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.not-scroll body {
  position: fixed;
  width: 100%;
}

#wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#container {
  flex: 1;
  position: relative;
  padding-top: 10rem;
  display: flex;
  justify-content: center;
  background: #efefef;
}
#container .contents {
  width: 100%;
}

footer {
  height: 10rem;
  background: #222;
  margin-top: auto;
}

.wide {
  width: 100%;
  height: 50rem;
  background: lime;
}

@media (max-width: 1023px) {
  header {
    height: 8rem;
  }
  #container {
    padding-top: 8rem;
  }
}
@media (max-width: 768px) {
  header {
    height: 6rem;
  }
  #container {
    padding-top: 6rem;
  }
}
.icon {
  display: inline-block;
  vertical-align: middle;
}
.icon-download {
  width: 3.2rem;
  height: 3.2rem;
  background-size: contain;
  mask: url(../images/icons/download.svg) no-repeat center;
  mask-size: contain;
  background-color: #666;
}
.icon-box-arrow-right {
  width: 3.2rem;
  height: 3.2rem;
  background-size: contain;
  mask: url(../images/icons/box-arrow-right.svg) no-repeat center;
  mask-size: contain;
  background-color: #666;
}
.icon-box-arrow-up-right {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/box-arrow-up-right.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-clip {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/clip.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-clip-square {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/clip-square.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-question-circle {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/question-circle.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-exc-circle {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/exc-circle.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-info-circle {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/info-circle.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-info-circle-fill {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/info-circle-fill.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-check {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/check.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-check-circle {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/check-circle.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-eye {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/eye.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-link-45deg {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/link-45deg.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-search {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/search.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-share {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/share.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-refresh {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/refresh.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-pen {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/pen.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-pen-square {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/pen-square.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-calendar {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/calendar.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-print {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/print.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-geo-alt {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/geo-alt.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-telephone {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/telephone.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-envelope {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/envelope.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-house {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/house.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-globe {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/globe.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-bell {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/bell.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-bag {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/bag.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-bus-front {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/bus-front.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-train-front {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/train-front.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-car-front {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/car-front.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-person {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/person.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-clock {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/clock.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-hamber-bar {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/hamber-bar.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-message-dots {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/message-dots.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-minus {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/minus.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-plus {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/plus.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-x {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/x.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-x-lg {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/x-lg.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-pause {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/pause.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-play {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/play.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-play-fill {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/play-fill.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-play-fill-up {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/play-fill.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
  transform: rotate(-90deg);
}
.icon-play-fill-down {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/play-fill.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
  transform: rotate(90deg);
}
.icon-arrow-right {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/arrow-right.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-arrow-left {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/arrow-right.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
  transform: rotate(180deg);
}
.icon-arrow-up {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/arrow-right.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
  transform: rotate(-90deg);
}
.icon-arrow-up-left {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/arrow-right.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
  transform: rotate(-135deg);
}
.icon-arrow-up-right {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/arrow-right.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
  transform: rotate(-45deg);
}
.icon-arrow-down {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/arrow-right.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
  transform: rotate(90deg);
}
.icon-arrow-down-left {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/arrow-right.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
  transform: rotate(135deg);
}
.icon-arrow-down-right {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/arrow-right.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
  transform: rotate(45deg);
}
.icon-arr-right {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/arr-right.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-arr-left {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/arr-right.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
  transform: rotate(180deg);
}
.icon-arr-up {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/arr-right.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
  transform: rotate(-90deg);
}
.icon-arr-down {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/arr-right.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
  transform: rotate(90deg);
}
.icon-arr-double-right {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/arr-double-right.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-arr-double-left {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/arr-double-right.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
  transform: rotate(180deg);
}
.icon-facebook {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/facebook.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-instagram {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/instagram.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-youtube {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/youtube.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-twitter {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/twitter.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-kakao {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/kakao.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-naver {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/naver.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-blog {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/blog.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-apple {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/apple.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-band {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/band.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-pinterest {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/pinterest.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-linkedin {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/linkedin.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.icon-tiktok {
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/tiktok.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}

.icon-lists {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.icon-lists li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  padding: 2rem 1rem;
  background: #dfdfdf;
  width: 18rem;
}
.icon-lists li .bx {
  height: 3.2rem;
}
.icon-lists li .tx {
  font-size: 1.3rem;
  text-align: center;
}

.btn-fill {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 1rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  height: 5rem;
  font-size: 1.6rem;
  border: 1px solid #0072C6;
  background: #0072C6;
  color: #fff;
}
.btn-fill i {
  display: inline-block;
}
.btn-fill .ico-down {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Cpath d='M0 15.7109L16 15.7109' stroke='%23ffffff' stroke-width='2' stroke-linejoin='bevel'/%3E%3Cpath d='M8 11.5299V0.290039' stroke='%23ffffff' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M3.42773 8.71094L8.06814 12.1395L12.5706 8.80725' stroke='%23ffffff' stroke-width='2' stroke-miterlimit='10'/%3E%3C/svg%3E");
}
.btn-fill .ico-arrow {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Cpath d='M7.07 3.37H1V15.5H13.13V9.43M7.24 9.33L14.86 1.71M9.87 1.5H15V6.63' stroke='%23ffffff' stroke-width='2' stroke-miterlimit='10'/%3E%3C/svg%3E");
}

.btn-outline {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 1rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  height: 5rem;
  font-size: 1.6rem;
  border: 1px solid #666;
  background: #fff;
  color: #222;
}
.btn-outline i {
  display: inline-block;
}

.small {
  padding: 1rem 1.5rem;
  height: 4rem;
  font-size: 1.5rem;
}

.medium {
  height: 5rem;
  font-size: 1.6rem;
}

.large {
  padding: 1rem 4rem;
  height: 6rem;
  font-size: 1.8rem;
}

.ico-arrow {
  width: 1.6rem;
  height: 1.6rem;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Cpath d='M7.07 3.37H1V15.5H13.13V9.43M7.24 9.33L14.86 1.71M9.87 1.5H15V6.63' stroke='%230072c6' stroke-width='2' stroke-miterlimit='10'/%3E%3C/svg%3E");
  background-size: cover;
}

.ico-down {
  width: 1.6rem;
  height: 1.7rem;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Cpath d='M0 15.7109L16 15.7109' stroke='%230072c6' stroke-width='2' stroke-linejoin='bevel'/%3E%3Cpath d='M8 11.5299V0.290039' stroke='%230072c6' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M3.42773 8.71094L8.06814 12.1395L12.5706 8.80725' stroke='%230072c6' stroke-width='2' stroke-miterlimit='10'/%3E%3C/svg%3E");
  background-size: cover;
}

.btn-cols {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 4rem 0;
}
@media (max-width: 640px) {
  .btn-cols button {
    flex: 1;
  }
}

.hamburger-modern {
  width: 4rem;
  height: 4rem;
  background: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease;
  z-index: 101;
  border: 1px solid #ddd;
}
.hamburger-modern span {
  position: absolute;
  left: 50%;
  width: 50.91%;
  height: 5.45%;
  background: #222;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.hamburger-modern span:nth-child(1) {
  top: 29.09%;
  transform: translateX(-50%);
}
.hamburger-modern span:nth-child(2) {
  top: 47.27%;
  transform: translateX(-50%);
  width: 40%;
}
.hamburger-modern span:nth-child(3) {
  top: 65.45%;
  transform: translateX(-50%);
  width: 50.91%;
}
.hamburger-modern.active span:nth-child(1) {
  top: 47.27%;
  transform: translateX(-50%) rotate(45deg);
}
.hamburger-modern.active span:nth-child(2) {
  opacity: 0;
  transform: translateX(-50%) translateX(20px);
}
.hamburger-modern.active span:nth-child(3) {
  top: 47.27%;
  width: 50.91%;
  transform: translateX(-50%) rotate(-45deg);
}

.btn-trans {
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  padding: 0;
  font-size: 1.8rem;
}
.btn-trans span, .btn-trans:after {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  padding: 1rem 2rem;
}
.btn-trans span {
  color: #222;
}
.btn-trans::after {
  content: attr(data-trans);
  position: absolute;
  top: 100%;
  left: 0;
  color: #000;
}
.btn-trans.active, .btn-trans:focus, .btn-trans:hover {
  background: #0072C6;
  border: 1px solid #0072C6;
}
.btn-trans.active span, .btn-trans:focus span, .btn-trans:hover span {
  transform: translateY(-100%);
}
.btn-trans.active:after, .btn-trans:focus:after, .btn-trans:hover:after {
  top: 0;
  color: #fff;
}

.btn-trans2 {
  position: relative;
  overflow: hidden;
  transition: color 0.4s ease;
}
.btn-trans2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #333;
  transition: width 0.4s ease;
  z-index: 0;
}
.btn-trans2:hover {
  color: #fff;
}
.btn-trans2:hover span {
  position: relative;
  z-index: 1;
}
.btn-trans2:hover::before {
  width: 100%;
}

.links {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.link {
  position: relative;
  transition: color 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  font-size: 1.25vw;
  line-height: 130%;
  color: #000;
  text-decoration: none;
  outline: none;
}

.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.075em;
  min-height: 1px;
  transform-origin: right;
  transform: scaleX(0);
  background-color: #000;
  transition: transform 0.95s cubic-bezier(0.19, 1, 0.22, 1);
  box-sizing: border-box;
  border: 0 solid #e2e8f0;
}

.link:focus::after,
.link:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

[role=tablist] {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}
[role=tablist] > li {
  flex: 1;
}
[role=tablist] > li button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  font-size: clamp(1.6rem, 1.76vw, 1.8rem);
  border: 1px solid #ddd;
}
[role=tablist] > li.active button {
  background: #000;
  color: #fff;
}
[role=tablist][aria-orientation=vertical] {
  flex-direction: column;
  border-bottom: none;
}

[role=tabpanel] {
  display: none;
}
[role=tabpanel].active {
  display: block;
  animation: fadeInUpTab 0.5s;
}

@keyframes fadeInUpTab {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.tab-container.vertical {
  display: flex;
  width: 100%;
}
.tab-container.vertical [role=tablist] {
  width: 20rem;
}

.full {
  width: 100%;
}

.checkForm {
  display: inline-block;
}
.checkForm input {
  position: absolute;
  width: 2.6rem;
  height: 2.6rem;
  appearance: none;
}
.checkForm label {
  padding-left: 3.4rem;
  position: relative;
  line-height: 2.6rem;
  cursor: pointer;
  font-size: 1.6rem;
}
.checkForm label::before {
  content: "";
  display: inline-block;
  width: 2.6rem;
  height: 2.6rem;
  border: 1px solid #dfdfdf;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
.checkForm label::after {
  content: "";
  display: block;
}
.checkForm input[type=radio] + label::before {
  border-radius: 50%;
}
.checkForm input[type=radio]:checked + label::before {
  border: 1px solid #222;
}
.checkForm input[type=radio]:checked + label::after {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  background: #222;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}
.checkForm input[type=checkbox]:checked + label::before {
  border: 1px solid #222;
  background: #222;
}
.checkForm input[type=checkbox]:checked + label::after {
  width: 1.4rem;
  height: 0.8rem;
  border-top: 0;
  border-right: 0;
  border-bottom: 0.2rem solid #fff;
  border-left: 0.2rem solid #fff;
  position: absolute;
  left: 0.6rem;
  top: 0.7rem;
  transform: rotate(-45deg);
}

.input {
  border-radius: 0.5rem;
  border: 1px solid #dfdfdf;
  height: 5rem;
  padding: 1rem;
}

textarea {
  border: 1px solid #dfdfdf;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
}

select {
  height: 5rem;
  padding: 1rem 3rem 1rem 1rem;
  border: 1px solid #dfdfdf;
  border-radius: 0.5rem;
  background: url(../images/ico-select-arr.svg) no-repeat right 1rem center;
}

.form-field .form-row {
  display: flex;
  border-bottom: 1px solid #dfdfdf;
  padding: 1rem 0;
}
.form-field .form-tit {
  width: 20%;
  padding-top: 1.5rem;
  text-align: center;
}
.form-field .form-col {
  flex: 1;
}
@media (max-width: 640px) {
  .form-field .form-row {
    flex-direction: column;
  }
  .form-field .form-tit {
    width: 100%;
    text-align: left;
    padding: 0;
    margin: 1rem 0;
  }
}

.form-phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(0.5rem, 0.49vw, 1rem);
}
.form-phone .bar {
  width: 1%;
  display: inline-flex;
  text-align: center;
  height: 2px;
  background: #666;
  font-size: 0;
}
.form-phone select,
.form-phone input {
  width: 31%;
}
.form-phone select {
  text-align: center;
}

.form-attachment {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(0.5rem, 0.49vw, 1rem);
}
.form-attachment .file-open-btn {
  border: 1px solid #dfdfdf;
  border-radius: 0.5rem;
  height: 5rem;
  padding: 1rem 2rem;
  white-space: nowrap;
}
.form-attachment .file-name-input {
  flex: 1;
}
.form-attachment .file-delete-btn {
  position: absolute;
  top: 50%;
  right: 15.5rem;
  transform: translateY(-50%);
  border: 1px solid #dfdfdf;
}
.form-attachment .real-file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.form-email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(0.5rem, 0.49vw, 1rem);
}
.form-email input {
  width: 30%;
}
.form-email select {
  width: 35%;
}

.form-email-new .input {
  width: 100%;
}

.form-address-zip {
  display: flex;
  gap: 1rem;
}
.form-address-zip .input {
  width: 16rem;
  text-align: center;
}
.form-address-addr {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.custom-select {
  position: relative;
  flex: 1;
}

.custom-select select {
  width: 100%;
  padding: 12px 40px 12px 16px;
  font-size: 14px;
  color: var(--text-base);
  border-radius: 1rem;
  border: 1px solid #dfdfdf;
  background: var(--surface-base);
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  transition: all 0.3s ease;
}

.custom-select::after {
  content: "";
  position: absolute;
  right: 1.2rem;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  pointer-events: none;
  background: url(../images/select-arr.svg) no-repeat 50% 50%;
  width: 1.4rem;
  height: 1.4rem;
}

.dropdown {
  position: relative;
  width: 100%;
}

.dropdown-button {
  width: 100%;
  padding: 12px 40px 12px 16px;
  font-size: 14px;
  color: var(--text-base);
  border-radius: 1rem;
  border: 1px solid #dfdfdf;
  background: #fff;
  cursor: pointer;
  text-align: left;
  outline: none;
  transition: all 0.3s ease;
  position: relative;
}

.dropdown-button::after {
  content: "";
  position: absolute;
  right: 1.2rem;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  pointer-events: none;
  background: url(../images/select-arr.svg) no-repeat 50% 50%;
  width: 1.4rem;
  height: 1.4rem;
}

.is-open .dropdown-button {
  border: 1px solid #222;
}

.is-open .dropdown-button::after {
  transform: translateY(-50%) rotate(180deg);
}

.dropdown-list {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  background: #fff;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  z-index: 10;
}

.is-open .dropdown-list {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-item {
  padding: 1rem 1.2rem;
  font: var(--body-medium-m-15);
  color: var(--text-base);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.modal {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  z-index: 1000;
}
.modal[hidden] {
  opacity: 0;
  visibility: hidden;
}
.modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-surface {
  background: #fff;
  transform: translateY(10rem);
  opacity: 0;
  width: 90%;
  max-width: 60rem;
  height: 60rem;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
}
.modal-close {
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.modal-body {
  padding: 1rem;
  flex: 1;
  overflow: hidden;
  overflow-y: auto;
}
.modal-main-popup {
  transform: translateY(0);
  opacity: 1;
}
.modal-footer {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-open {
  animation: fadeIn 0.2s forwards;
}
.modal-open .modal-surface {
  transform: translateY(0);
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.main-visual-wrap {
  position: relative;
  height: 240vh;
}
@media (max-width: 1023px) {
  .main-visual-wrap {
    height: auto;
  }
}

.scene-logo {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
.scene-logo-inner {
  display: flex;
  justify-content: center;
  width: 100vw;
  position: sticky;
  bottom: 10vh;
}
.scene-logo-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.scene-slide {
  height: 100vh;
  margin-top: -10vh;
}
.scene-slide-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.scene-slide .swiper-visual-wrap {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
.scene-slide .scene-slide-inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scene-slide .mask {
  clip-path: polygon(10% 18%, 90% 18%, 90% 80%, 10% 80%);
}
@media (max-width: 1023px) {
  .scene-slide {
    margin-top: 0;
    overflow: hidden;
  }
}
@media (max-width: 768px) {
  .scene-slide {
    max-height: 91.5rem;
    margin-top: 0;
  }
}

@media (max-width: 1023px) {
  .scene-logo {
    display: none;
  }
  .scene-slide .mask {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  .main-visual-wrapper {
    overflow: hidden;
    height: auto;
  }
  #footer {
    position: relative;
    z-index: 2;
  }
}
.swiper-visual {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.swiper-visual .swiper-wrapper {
  will-change: transform;
}
.swiper-visual .swiper-slide {
  will-change: transform;
}
.swiper-visual .swiper-slide .video-frame,
.swiper-visual .swiper-slide picture,
.swiper-visual .swiper-slide video,
.swiper-visual .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-visual .swiper-slide .video-frame::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.swiper-visual .swiper-slide .video-frame,
.swiper-visual .swiper-slide .video-frame::after {
  will-change: transform, opacity;
  backface-visibility: hidden;
  transform: translateZ(0);
}
.swiper-visual .swiper-slide .text {
  position: absolute;
  bottom: 43vh;
  left: 0;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.6;
  z-index: 2;
}
.swiper-visual .swiper-slide .text-1 {
  font-size: 10rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  transform: translateY(10rem);
  opacity: 0;
  text-align: center;
}
.swiper-visual .swiper-slide .text-2 {
  font-size: 3.6rem;
  font-weight: 500;
  letter-spacing: -0.6px;
  transform: translateY(10rem);
  letter-spacing: -0.72px;
  opacity: 0;
}
.swiper-visual .swiper-nav {
  position: absolute;
  left: 0;
  bottom: 35.56vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 2;
}
.swiper-visual .swiper-controls {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.swiper-visual .swiper-pagination {
  position: initial;
  width: auto;
  display: flex;
  gap: 0;
}
.swiper-visual .swiper-pagination-bullet {
  width: 4rem;
  height: 4rem;
  background: none;
  opacity: 1;
  position: relative;
  cursor: pointer;
}
.swiper-visual .swiper-pagination-bullet span {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.8);
}
.swiper-visual .swiper-pagination-bullet .progress-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  height: 100%;
}
.swiper-visual .swiper-pagination-bullet .progress-circle circle {
  fill: none;
  stroke-width: 1;
}
.swiper-visual .swiper-pagination-bullet .progress-circle .bg {
  stroke: rgba(255, 255, 255, 0.3);
}
.swiper-visual .swiper-pagination-bullet .progress-circle .progress-bar {
  stroke: #ffffff;
  stroke-dasharray: 88;
  stroke-dashoffset: 88;
}
.swiper-visual .swiper-pagination-bullet.paused .progress-bar {
  animation-play-state: paused;
}
.swiper-visual .swiper-pagination-bullet-active .progress-circle .progress-bar {
  animation-name: progress-animation;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes progress-animation {
  to {
    stroke-dashoffset: 0;
  }
}
.swiper-visual .swiper-button-next,
.swiper-visual .swiper-button-prev {
  position: initial;
  width: 4rem;
  height: 4rem;
  margin: 0;
  z-index: 12;
  border-radius: 50%;
  border: 1px solid lime;
}
.swiper-visual .swiper-button-next:after,
.swiper-visual .swiper-button-prev:after {
  display: none;
}
.swiper-visual .swiper-button-play,
.swiper-visual .swiper-button-pause {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.swiper-visual .swiper-button-play {
  display: none;
}
.swiper-visual .swiper-button-play::before {
  content: "";
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/play-fill.svg) no-repeat center;
  mask-size: contain;
  background-color: #ffffff;
}
.swiper-visual .swiper-button-pause::before {
  content: "";
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  background-size: contain;
  mask: url(../images/icons/pause.svg) no-repeat center;
  mask-size: contain;
  background-color: #0072c6;
}
.swiper-visual.is-paused .swiper-button-play {
  display: block;
}
.swiper-visual.is-paused .swiper-button-pause {
  display: none;
}
@media (max-width: 1023px) {
  .swiper-visual .swiper-slide .text-1 {
    font-size: 8rem;
  }
  .swiper-visual .swiper-slide .text-2 {
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  .swiper-visual .swiper-slide .text {
    padding: 0;
    justify-content: center;
    text-align: center;
    bottom: 40vh;
  }
  .swiper-visual .swiper-slide .text-1 {
    font-size: 5rem;
    transform: translateY(10rem);
    opacity: 0;
    line-height: 1.2;
  }
  .swiper-visual .swiper-slide .text-2 {
    line-height: 1.2;
    font-size: 2.2rem;
    letter-spacing: -0.44px;
    transform: translateY(10rem);
    opacity: 0;
    margin-top: 2rem;
  }
  .swiper-visual .swiper-nav {
    flex-direction: column;
    bottom: 24vh;
    left: 0;
    gap: 4.5vh;
  }
  .swiper-visual .swiper-nav .swiper-progress {
    width: 100%;
    order: 2;
  }
  .swiper-visual .swiper-nav .swiper-progress .progressBar em {
    height: 2px;
  }
  .swiper-visual .swiper-nav .swiper-controls {
    order: 1;
  }
  .swiper-visual .swiper-nav .swiper-controls .swiper-button-next,
  .swiper-visual .swiper-nav .swiper-controls .swiper-button-prev,
  .swiper-visual .swiper-nav .swiper-controls .btn-pause {
    width: 4rem;
    height: 4rem;
  }
  .swiper-visual .swiper-controls .swiper-pagination-bullet-active .progress {
    animation: progress-stroke 12s forwards;
  }
}
@media (max-width: 640px) {
  .swiper-visual {
    height: 100vh;
  }
}

.main-section-wrap {
  overflow: hidden;
}

.main-garo {
  overflow: hidden;
}

.horizontal-wrap {
  background: #fff;
}
.horizontal-wrap .horizontal {
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
  height: 100vh;
  background: #fff;
}
@media (max-width: 1023px) {
  .horizontal-wrap .horizontal {
    display: block;
    height: auto;
    width: 100vw;
    overflow: hidden;
  }
}

.main-quickMenu {
  width: 100%;
  height: 100vh;
  min-height: 108rem;
  padding: 14.81vh 2.4vw 12.96vh;
  position: relative;
}

/*1. basic styles*/
.slider-wrap {
  position: relative;
  overflow: hidden;
  height: 40rem;
}

.swiper-slide {
  height: 100%;
  background: #ddd;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper, .card-swiper {
  height: 100%;
}

/*2. size variations*/
.accordions-header {
  border: 1px solid #ddd;
  padding: 2rem;
}
.accordions-panel {
  background: #efefef;
  padding: 2rem;
}

#header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 2560px;
  height: 10rem;
  z-index: 10;
}

.site-header {
  transition: transform 500ms ease, background 500ms ease;
  will-change: transform, background;
}
.site-header .static {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
}

.btn-navbar {
  width: 3.2rem;
  height: 3.2rem;
  border: 1px solid #555;
  cursor: pointer;
  position: relative;
  z-index: 11;
}

#nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.gnb {
  display: grid;
  width: 55%;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}
.gnb > li {
  text-align: center;
}
.gnb > li > a,
.gnb > li > button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
}
.gnb a {
  transition: color 100ms;
}

.modal-in-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  background: #ffffff;
  z-index: 100;
}
.modal-in-header .sitemap,
.modal-in-header .mobile {
  position: relative;
  width: 100%;
  height: 100%;
}
.modal-in-header .mobile {
  display: none;
}
.modal-in-header .scroll-area {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: scroll;
}
.modal-in-header.active {
  height: 100vh;
}
.modal-in-header.active .scroll-area {
  overflow-y: scroll;
}
.modal-in-header .sitemap-header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 6;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
@media (max-width: 1023px) {
  .modal-in-header .sitemap {
    display: none;
  }
  .modal-in-header .mobile {
    display: block;
  }
}

.close {
  border: 1px solid #555;
  cursor: pointer;
  position: relative;
  z-index: 101;
}

header .site-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0;
  z-index: -1;
  transition: height 200ms ease-out, opacity 200ms;
  transition-delay: 0ms, 100ms;
}
header.opaque {
  --color:#333;
}
header.opaque .site-header {
  background: #fff;
}
header.hide .site-header {
  transform: translateY(-105%);
}
header.show-gnb .site-header::before {
  height: 40rem;
  opacity: 1;
  border-radius: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
header.show-gnb #nav {
  height: 40rem;
}
header.show-sitemap .modal-in-header {
  height: calc(var(--vh) * 100);
}

@media (max-width: 1280px) {
  #nav {
    display: none;
  }
}
body.has-fixed-header {
  padding-top: var(6rem);
}

#header-ty1 .header-top {
  padding: 4rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-ty1 .hamburger-modern {
  z-index: 202;
}
#header-ty1 .header-nav {
  padding: 0 2rem;
  background: #fff;
}
#header-ty1 .header-nav nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 1.8rem;
  font-weight: 500;
  height: 6rem;
}
#header-ty1 .header-nav nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  position: relative;
}
#header-ty1 .header-nav nav a::after {
  content: "";
  display: block;
  width: 0;
  height: 0.3rem;
  background: #282828;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 0.3s ease-in-out;
}
#header-ty1 .header-nav nav a:hover {
  font-weight: 700;
}
#header-ty1 .header-nav nav a:hover::after {
  width: 100%;
}
#header-ty1 .global-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 43%;
  height: 100%;
  background: #fff;
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
#header-ty1 .global-panel nav {
  padding: 5vw 4vw 4vw;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  font-size: 3.6rem;
  font-weight: 600;
  color: #999;
}
#header-ty1 .global-panel.is-open {
  transform: translateX(0);
  opacity: 1;
  z-index: 201;
}
#header-ty1 .global-panel-section {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
#header-ty1.is-fixed {
  padding-top: var(--nav-height);
}
#header-ty1.is-fixed .header-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 101;
  height: var(--nav-height);
}
#header-ty1 .global-dim {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 200;
  width: 100%;
  height: 100%;
}
#header-ty1 .global-panel-close {
  position: absolute;
  top: 4rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
}
@media (max-width: 1023px) {
  #header-ty1 {
    height: auto;
  }
  #header-ty1 .header-top {
    padding: 1rem 2rem;
  }
  #header-ty1 .header-nav {
    display: none;
  }
  #header-ty1 .global-panel {
    width: 100%;
  }
  #header-ty1.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 101;
    background: #fff;
  }
  #header-ty1 .global-panel-close {
    top: 1rem;
  }
}

.loading-splash {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  position: fixed;
  background: #fff;
  z-index: 99990;
}

#container {
  width: 100%;
}

#contents {
  width: 100%;
}

.list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem), 1fr));
  grid-gap: 1rem;
}
.list li {
  border: 1px solid lime;
  height: 25rem;
}